<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="auth-view">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `auth-view`
     * Authenticate view
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AuthView extends Polymer.Element {
      static get is() { return 'auth-view'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'auth-view'
          }
        };
      }
    }

    window.customElements.define(AuthView.is, AuthView);
  </script>
</dom-module>
